.arco-page-header-wrapper {
  padding-left: 0px;
}

.arco-page-header-title {
  font-size: 14px;
}

.arco-page-header {
  padding: 0px 0px 12px 0px;
}

.arco-table-th {
  background-color: #fff;
}

.arco-divider-vertical {
  margin: 0px 0px;
}
