.arco-page-header-wrapper {
  padding-left: 0px;
}

.arco-page-header-title {
  font-size: 14px;
}

.arco-page-header {
  padding: 0px 0px 12px 0px;
}

.arco-table-th {
  background-color: #fff;
}

.arco-divider-vertical {
  margin: 0px 0px;
}

.arco-tabs-nav {
  background-color: #fff;
}

.arco-tabs-content {
  padding-top: 0px;
}

.arco-form-item-message {
  margin-bottom: 12px;
}

.arco-divider-text {
  color: var(--color-text-3);
}
