.arco-page-header-wrapper {
  padding-left: 0px;
}

.arco-page-header-title {
  font-size: 14px;
}

.arco-page-header {
  padding: 0px 0px 8px 0px;
}

.arco-table-th {
  background-color: #fff;
}

.arco-divider-vertical {
  margin: 0px 0px;
}

.arco-tabs-nav {
  background-color: #fff;
}

.arco-tabs-content {
  padding-top: 0px;
}

.arco-form-item-message {
  margin-bottom: 6px;
}

.arco-divider-text {
  color: var(--color-text-3);
}

.arco-card-header {
  border-bottom: 0px;
}

.arco-card-header-title {
  color: var(--color-text-2);
}

/* 修改详情页Title字体大小 */
.arco-descriptions-title {
  font-size: 12px;
  color: var(--color-text-2);
}

.arco-card-size-medium .arco-card-header-title {
  font-size: 12px;
}

.arco-switch-loading .arco-switch-handle {
  color: var(--color-neutral-7);
}

.arco-switch-loading {
  background-color: var(--color-fill-4);
}

.arco-drawer-footer {
  display: flex;
  justify-content: center;
}

.arco-drawer-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arco-drawer-footer {
  padding: 0px 8px 8px 8px;
}

.arco-divider-text {
  font-size: 12px;
}

.arco-link {
  font-size: 12px;
}
