@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.sidebar {
  display: flex;
  height: calc(100vh - 46px);
}

.sidebar-menu {
  border-right: 1px solid rgb(229, 230, 235);
}

.main {
  width: 100%;
  height: calc(100vh - 46px);
  overflow: scroll;
  background-color: var(--color-fill-1);
}

.page {
  padding: 8px;
}

.table-op {
  margin-top: 8px;
}

.table-data {
  margin-top: 4px;
}

.form-submit {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 1px 4px;
  color: rgb(var(--link-6));
  text-decoration: none;
  cursor: pointer;
}

.form-item-append-text {
  margin-left: 8px;
}
