@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.sidebar {
  display: flex;
  height: calc(100vh - 47px);
}

.sidebar-menu {
  border-right: 1px solid rgb(229, 230, 235);
}

.main {
  padding: 8px;
  width: 100%;
}

.table-op {
  margin-top: 8px;
}

.table-data {
  margin-top: 4px;
}
